body {
    width: 1080px;
    margin: 0ex 10ex 0ex 10ex;
    padding: 0ex;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
    font-size: 2ex;
    color: #222222;
    background-color: #003399;
}

pre {
    font-family: "Courier New", Courier, mono;

    font-style: normal;
    background-color: #FFFFFF;
    white-space: pre
}

h1 {
    margin: 1ex 0ex 1ex 0ex;
    padding: 0ex;

    line-height: 3ex;
    font-weight: 900;
    color: #666;
}

h2 {
    margin: 2ex 0ex 1ex 0ex;
    padding: 0ex;

    line-height: 2ex;
    font-weight: 700;
    color: #444;
}

h3 {
    margin: 1ex 0ex 1ex 0ex;
    padding: 0ex;

    line-height: 1.6ex;
    font-weight: 700;
    color: #222;
}

p {
    font-family: helvetica, tahoma, arial, verdana, sans-serif;

    margin: 0ex 0ex 0ex 0ex;
    padding: 2ex;
}

img {
    border: 0;
}

li {
    font-family: helvetica, tahoma, arial, verdana, sans-serif;

    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex;
}

table {
    border-width: 0;
    empty-cells: show;
    color: #000;
}

td, th {
    empty-cells: show;
    padding: .3ex .3ex;
    vertical-align: top;
    text-align: left;
    border-width: 0;
    border-spacing: 0;
    background-color: #E1FFFF;
}

th {
    font-weight: bold;
    background-color: #AFEEEE;
}

a, a:visited, a:link {
    color: #039;

    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
}

a:hover {
    color: #69f;
}

a.Button, a.Button:link, a.Button:visited {
    padding: .3ex;
    color: #fff;
    background-color: #005e21;
    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
    font-size: 1.5ex;
}

a.Button:hover {
    color: #000;
    background-color: #54c07a;
}

#Logo {
    width: 33%;
    height: 9ex;
    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex 0ex 0ex 0ex;
    border-width: 0ex 0ex .3ex 0px;
    border-style: solid;
    border-color: #ccc;
    float: left;
    background-color: #000;
    color: #fff;
    line-height: 9ex;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 9ex;
}

body>#Logo {
    height: 9ex;
}

#Menu {
    width: 33%;
    height: 9ex;
    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex 0ex 0ex 0ex;
    border-width: 0ex 0ex .3ex 0px;
    border-style: solid;
    border-color: #ccc;
    float: left;
    background-color: #000;
    color: #eaac00;
    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
    text-align: center;
    line-height: 9ex;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 9ex;
}

#Menu, #Menu a, #Menu a:link, #Menu a:visited, #Menu a:hover {
    color: #eaac00;
    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
}

body>#Menu {
    height: 9ex;
}

{
}

#Search {
    width: 33%;
    height: 9ex;
    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex 0ex 0ex 0ex;
    border-width: 0ex 0ex .3ex 0px;
    border-style: solid;
    border-color: #ccc;
    float: left;
    text-align: center;
    background-color: #000;
    color: #eaac00;
    line-height: 9ex;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 9ex;
}

body>#Search {
    height: 9ex;
}

#Search input {
    border-width: .1ex .1ex .1ex .1ex;
    border-style: solid;
    border-color: #aaa;
    background-color: #666;
    color: #eaac00;
}

#QuickLinks {
    text-align: center;
    background-color: #FFF;
    width: 99%;
}

#PoweredBy {
    width: 30%;
    height: 9ex;
    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex 0ex 0ex 0ex;
    border-width: .3ex 0ex .3ex 0px;
    border-style: solid;
    border-color: #ccc;
    float: left;
    background-color: #000;
    color: #fff;
    line-height: 9ex;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 9ex;
}

body>#PoweredBy {
    height: 9ex;
}

#Banner {
    width: 69%;
    height: 9ex;
    margin: 0ex 0ex 0ex 0ex;
    padding: 0ex 0ex 0ex 0ex;
    border-width: .3ex 0ex .3ex 0px;
    border-style: solid;
    border-color: #ccc;
    float: left;
    background-color: #000;
    color: #fff;
    line-height: 9ex;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 9ex;
}

body>#Banner {
    height: 9ex;
}

#Content {
    margin: 0;
    padding: 0ex 0ex 0ex 0ex;
    width: 99%;
    color: #333;
    background-color: #FFF;
    border-width: 0;
}

#Separator {
    clear:both;
    margin: 0;
    height:0;
}

#Main {
    margin: 0;
    padding: 1ex;
    color: #333;
    background-color: #FFF;
    border-width: 1ex 0ex 2ex 0px;
    border-style: solid;
    border-color: #fff;
}

#Sidebar {
    float: left;
    background:inherit;
    width: 30%;
}

#MainImage {
    float: left;
    background:inherit;
    text-align:center;
    width: 50%;
}

#Catalog {
    padding: 1ex;
    background:inherit;
    text-align:center;
}

#Catalog input[type="submit"]{
    padding: .3ex;
    color: #fff;
    background-color: #005e21;
    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
    font-size: 1.5ex;
    border-width:0;
}
#Catalog input[type="submit"]:hover {
    color: #000;
    background-color: #54c07a;
    cursor:pointer;
}

#Account input[type="button"]{
    padding: .3ex;
    color: #fff;
    background-color: #005e21;
    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
    font-size: 1.5ex;
    border-width:0;
}
#Account input[type="button"]:hover {
    color: #000;
    background-color: #54c07a;
    cursor:pointer;
}


input::placeholder{
    color: #000;
}

#Catalog table{
    margin-left:auto;
    margin-right:auto;
}

#feedback{
    color: #DC143C;
    font-size: 15px;
    left: 101ex;
}

#security{
    font-size: 15px;
    left: 101ex;
}

#BackLink{
    padding: 1ex;
    float: right;
    border-width: .1ex 0ex .1ex 0px;
    border-style: solid;
    border-color: #000;
}

#Cart{
    width: 100%;
    float: left;
    background-color:#fff;
}

#MyList{
    width: 30%;
    float: left;
    background-color:#F0FFFF;
    text-align:left;
}

#productAutoComplete{
    background-color: #F0FFFF;
    position: relative;
    top: -29px;
    left: 84px;
    width: 188px;
    display: none;
}

#productAutoList{
    margin: 0;
    padding: 0;
    border: 1px solid #D4F2E7;
}

.productAutoItem{
    list-style: none;
    height: 19px;
    line-height: 19px;
    font-size: 13px;
    text-align: left;
    padding-left: 5px;
    margin-top: 3px;
    border-bottom: 1px solid #D4F2E7;
    color: #005e21;
    cursor: pointer;
}

#floatingWindowText{
    display: none;
    width: 225px;
    font-size: 18px;
    font-family: "Times New Roman";
    z-index: 2;
}

#floatingWindowImage{
    display: none;
    height: 225px;
    width: 300px;
    border: 1px;
    border-radius: 10px;
    z-index: 2;
}

#floatingWindowBackground{
    display: none;
    height: 300px;
    width: 300px;
    border: 1px;
    border-radius: 10px;
    z-index: 1;
    background-color: #FFFFFF;
}

.quantity{
    width: 92px;
    margin-right: 2px;
    margin-top: 6px;
    height: 18px;
    text-align: center;
    font-size: 16px;
    font-weight: 100;
    vertical-align: middle;
}

.group{
    vertical-align: middle;
    margin-left: 7px;
    margin-top: 4px;
}

.add{
    vertical-align: middle;
    margin-top: 3px;
    cursor: pointer;
}

.reduce{
    vertical-align: middle;
    margin-top: 4px;
    cursor: pointer;
}

.inform{
    position: fixed;
    max-height: 265px;
    z-index: 10;
    background-color: #F0FFFF;
    word-wrap: break-word;
    box-shadow: 0px 0px 10px #20B2AA;
    display: none;
    overflow: auto;
    width: 275px;
    border: 2px solid #D4F2E7;
    border-radius: 10px;
}

#inform1{
    left: 851px;
    top: 109px;
}

#inform2{
    left: 200px;
    top: 213px;
}

#inform3{
    left: 252px;
    top: 282px;
}

#inform4{
    left: 336px;
    top: 352px;
}

#inform5{
    left: 827px;
    top: 329px;
}

#inform6{
    left: 870px;
    top: 249px;
}
